/*font-family: 'Dancing Script', cursive;*/
body {
    background-image: url("images/veggies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;

}
#nav {
    background-color: brown;
    
}
nav ul li {
    list-style: none;
    padding-left: 20px;
    display: inline;
    
    
    
}
nav {
    display: flex ;
    justify-content:space-between;
    margin-right: 10%;
}
nav p {
    margin-left: 20px;
}
#nav ul {
 justify-content: space-between;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    
}
#about {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    

    
}
#product {
    display: flex;

}
#product div {
   
    margin: 0px 5px 0px 5px;
    text-align: center;
    background-color:burlywood;
}

footer {
    background-color:brown;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 10px;
    text-align: center;

}